/*place global styles here */
html,
body {
	@apply h-full;
}

.nav {
	@apply z-[999] p-2 flex items-center transition-colors duration-300 variant-ghost-surface;
	@apply rounded-token fixed left-4 right-4 bottom-4 px-3;
	@apply md:bottom-auto md:left-4 md:w-fit md:mx-auto md:gap-2 md:right-4 md:top-4;
}