
:root {
	/* =~= Theme Properties =~= */
	--theme-font-family-base: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--theme-font-family-heading: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--theme-font-color-base: 0 0 0;
	--theme-font-color-dark: 255 255 255;
	--theme-rounded-base: 9999px;
	--theme-rounded-container: 8px;
	--theme-border-base: 1px;
	/* =~= Theme On-X Colors =~= */
	--on-primary: 0 0 0;
	--on-secondary: 0 0 0;
	--on-tertiary: 0 0 0;
	--on-success: 0 0 0;
	--on-warning: 0 0 0;
	--on-error: 0 0 0;
	--on-surface: 255 255 255;
	/* =~= Theme Colors  =~= */
	/* primary | #14b8a6 */
	--color-primary-50: 220 244 242; /* ⬅ #dcf4f2 */
	--color-primary-100: 208 241 237; /* ⬅ #d0f1ed */
	--color-primary-200: 196 237 233; /* ⬅ #c4ede9 */
	--color-primary-300: 161 227 219; /* ⬅ #a1e3db */
	--color-primary-400: 91 205 193; /* ⬅ #5bcdc1 */
	--color-primary-500: 20 184 166; /* ⬅ #14b8a6 */
	--color-primary-600: 18 166 149; /* ⬅ #12a695 */
	--color-primary-700: 15 138 125; /* ⬅ #0f8a7d */
	--color-primary-800: 12 110 100; /* ⬅ #0c6e64 */
	--color-primary-900: 10 90 81; /* ⬅ #0a5a51 */
	/* secondary | #6366f1 */
	--color-secondary-50: 232 232 253; /* ⬅ #e8e8fd */
	--color-secondary-100: 224 224 252; /* ⬅ #e0e0fc */
	--color-secondary-200: 216 217 252; /* ⬅ #d8d9fc */
	--color-secondary-300: 193 194 249; /* ⬅ #c1c2f9 */
	--color-secondary-400: 146 148 245; /* ⬅ #9294f5 */
	--color-secondary-500: 99 102 241; /* ⬅ #6366f1 */
	--color-secondary-600: 89 92 217; /* ⬅ #595cd9 */
	--color-secondary-700: 74 77 181; /* ⬅ #4a4db5 */
	--color-secondary-800: 59 61 145; /* ⬅ #3b3d91 */
	--color-secondary-900: 49 50 118; /* ⬅ #313276 */
	/* tertiary | #FF00FF */
	--color-tertiary-50: 255 217 255; /* ⬅ #ffd9ff */
	--color-tertiary-100: 255 204 255; /* ⬅ #ffccff */
	--color-tertiary-200: 255 191 255; /* ⬅ #ffbfff */
	--color-tertiary-300: 255 153 255; /* ⬅ #ff99ff */
	--color-tertiary-400: 255 77 255; /* ⬅ #ff4dff */
	--color-tertiary-500: 255 0 255; /* ⬅ #FF00FF */
	--color-tertiary-600: 230 0 230; /* ⬅ #e600e6 */
	--color-tertiary-700: 191 0 191; /* ⬅ #bf00bf */
	--color-tertiary-800: 153 0 153; /* ⬅ #990099 */
	--color-tertiary-900: 125 0 125; /* ⬅ #7d007d */
	/* success | #FF00FF */
	--color-success-50: 255 217 255; /* ⬅ #ffd9ff */
	--color-success-100: 255 204 255; /* ⬅ #ffccff */
	--color-success-200: 255 191 255; /* ⬅ #ffbfff */
	--color-success-300: 255 153 255; /* ⬅ #ff99ff */
	--color-success-400: 255 77 255; /* ⬅ #ff4dff */
	--color-success-500: 255 0 255; /* ⬅ #FF00FF */
	--color-success-600: 230 0 230; /* ⬅ #e600e6 */
	--color-success-700: 191 0 191; /* ⬅ #bf00bf */
	--color-success-800: 153 0 153; /* ⬅ #990099 */
	--color-success-900: 125 0 125; /* ⬅ #7d007d */
	/* warning | #FF00FF */
	--color-warning-50: 255 217 255; /* ⬅ #ffd9ff */
	--color-warning-100: 255 204 255; /* ⬅ #ffccff */
	--color-warning-200: 255 191 255; /* ⬅ #ffbfff */
	--color-warning-300: 255 153 255; /* ⬅ #ff99ff */
	--color-warning-400: 255 77 255; /* ⬅ #ff4dff */
	--color-warning-500: 255 0 255; /* ⬅ #FF00FF */
	--color-warning-600: 230 0 230; /* ⬅ #e600e6 */
	--color-warning-700: 191 0 191; /* ⬅ #bf00bf */
	--color-warning-800: 153 0 153; /* ⬅ #990099 */
	--color-warning-900: 125 0 125; /* ⬅ #7d007d */
	/* error | #FF00FF */
	--color-error-50: 255 217 255; /* ⬅ #ffd9ff */
	--color-error-100: 255 204 255; /* ⬅ #ffccff */
	--color-error-200: 255 191 255; /* ⬅ #ffbfff */
	--color-error-300: 255 153 255; /* ⬅ #ff99ff */
	--color-error-400: 255 77 255; /* ⬅ #ff4dff */
	--color-error-500: 255 0 255; /* ⬅ #FF00FF */
	--color-error-600: 230 0 230; /* ⬅ #e600e6 */
	--color-error-700: 191 0 191; /* ⬅ #bf00bf */
	--color-error-800: 153 0 153; /* ⬅ #990099 */
	--color-error-900: 125 0 125; /* ⬅ #7d007d */
	/* surface | #1e293b */
	--color-surface-50: 221 223 226; /* ⬅ #dddfe2 */
	--color-surface-100: 210 212 216; /* ⬅ #d2d4d8 */
	--color-surface-200: 199 202 206; /* ⬅ #c7cace */
	--color-surface-300: 165 169 177; /* ⬅ #a5a9b1 */
	--color-surface-400: 98 105 118; /* ⬅ #626976 */
	--color-surface-500: 30 41 59; /* ⬅ #1e293b */
	--color-surface-600: 27 37 53; /* ⬅ #1b2535 */
	--color-surface-700: 23 31 44; /* ⬅ #171f2c */
	--color-surface-800: 18 25 35; /* ⬅ #121923 */
	--color-surface-900: 15 20 29; /* ⬅ #0f141d */
	
}
body {
	background-image: radial-gradient(at 62% 2%, rgba(var(--color-primary-900) / 0.33) 0px, transparent 50%),
		radial-gradient(at 1% 89%, rgba(var(--color-secondary-900) / 0.11) 0px, transparent 50%);
}
